@import 'variables';
// fira sans
$Fregular: 'Fira SansR';
$Fbold: 'Fira SansB';
$FboldSB: 'Fira SansSB';
$Flight: 'Fira SansL';
$Fbook: 'Fira Sans Book';
$Fmedium: 'Fira SansM';

// open sans
$Oregular: 'Open SansR';
$Obold: 'Open SansB';
$Olight: 'Open SansL';
$Oitalic: 'Open SansI';
$OboldSB: 'Open SansSB';
$OboldEB: 'Open SansEB';
$OboldBI: 'Open SansBI';
$OboldEBI: 'Open SansEBI';
$OboldSBI: 'Open SansSBI';

// color: #d51d26;
// color: #1b1a28;

// pt sans
$PTregular: 'PT SansR';